<div>
  <alertmsg type="alert.type" msg="alert.msg" is-show="alert.isShow"></alertmsg>
  <form>
    <h2>标题</h2>
    <input class="form-control" placeholder="title" ng-model="news.title">
    <text-angular ng-model="news.content">
    </text-angular>
    
    <div>
      <h4>Upload on file select</h4>
      <button type="file" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
      <br>
      <br> File:
      <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
      </div>

      {{path}}
      {{errorMsg}}
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit()">保存</button>
  </form>
</div>