<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% allNews.forEach(function(news){ %>
      <h2><%= news.title %></h2>
      <p><%- news.content %></p>
    <% }) %>
  </body>
</html>
